html, body {
    background-color: #ccccff;
    margin: 0px;
    padding: 0px;
    top: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

article {
    background-color: white;
    padding: 20px;
    border: 4px solid white;
    border-radius: 5px;
    width: 70%;
    margin: 20px auto;
}

header {
    color: white;
    text-align: center;
    background-color: #3333cc;
    border: 4px solid #3333cc;
    border-radius: 5px;
    padding: 0px 20px;
    width: 70%;
    margin: 60px auto 0px auto;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, serif;
}

nav {
    background-color: white;
    position: fixed;
    text-align: right;
    padding: 8px;
    width: 100%;
    top: 0;
    right: 0;
}

p {
    margin: 10px;
}

table {
    margin: 10px 0px;
}

th, td {
    background-color: #99ccff;
    padding: 0px 5px;
    border: 1px solid white;
    border-radius: 5px;
}

th {
    background-color: #cce6ff;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
}

em {
    font-style: normal;
    font-weight: bold;
}

tr:first-child, td:first-child {
    font-weight: bold;
}

#message {
    margin: 20px 0px;
    color: #3333cc;
    background-color: white;
    padding: 10px;
    border: 4px solid #3333cc;
    border-radius: 5px;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #3333cc;
    color: white;
    padding: 0px 15px;
    border: 4px solid #3333cc;
    border-radius: 5px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #6666ff;
    border: 4px solid #6666ff;
}

input[type="text"], input[type="password"] {
    background-color: white;
    color: black;
    padding: 5px;
    border: 4px solid #3333cc;
    border-radius: 5px;
    font-weight: bold;
}

#lError{
    color: red;
    font-size: 12px;
}

#lSuccess{
    color: green;
    font-size: 12px;
}